<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Flask App • Pico.css</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>
    <!-- Top-level navigation bar -->
    <div class="container">
        <nav>
            <ul>
                <li><strong>SophtBot</strong></li>
            </ul>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('customer_portal') }}">Customer Portal</a></li>
                <li><a href="{{ url_for('show_subscription_choices') }}">Subscription Plans</a></li>
            </ul>
        </nav>
    </div>

    <!-- Content -->
    <main class="container">
        {% block content %}{% endblock %}
    </main>


    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/minimal_theme_switcher.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
</body>

</html>
